.button {
  border: none;
  background: none;
  font-size: 2rem;
  color: red;
  cursor: pointer;
  margin: 2rem;
  transition: opacity .3s ease;

  &:focus {
    outline: 0;
  }

  &:hover {
    opacity: .6;
  }
}
